*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 60%;
  margin: 0 auto;
}

.header,
button {
  font-size: 20px;
}

.header {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.calculator {
  display: grid;
  grid-template-rows: minmax(4rem, auto) repeat(5, 1fr);
  grid-template-columns: repeat(4, 5rem);
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.calcSection {
  display: flex;
  justify-content: space-between;
}

.header,
.calcSection h2 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.calcSection h2 {
  color: white;
  font-size: 40px;
}

.cal-answer {
  grid-column: 1 / span 4;
  background-color: rgba(179, 173, 173, 0.616);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  font-size: 2.5em;
  margin-right: 1px;
  width: 20rem;
  height: 3.5rem;
  color: #ffff;
  text-shadow: 1px 1px 2px black;
}

.answer {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: 'Dancing Script', cursive;
  text-align: end;
}

.zero {
  grid-column: 1 / span 2;
  cursor: pointer !important;
}

button {
  height: 60px;
  font-weight: bold;
}

.side {
  background-color: chocolate;
  color: #fff;
}
