.home {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(126, 119, 119, 0.816);
  height: auto;
  padding: 10px;
}

h2 {
  color: #ffff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-bottom: 10px;
}

p {
  color: rgb(145, 255, 0);
  font-size: 20px;
}

.followContainer {
  display: flex;
  gap: 10px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
